@import "css/style.css";

.about{
    background:#e6e6e6;
    color: var(--bg-color);
}

.heading-about{
    font-size: 5rem;
    text-align: center;
    color: var(--main-color);
}

.heading-about::before{
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 110%;
    top: 6rem;
    background: var(--bg-color);
    margin-left: 95px;
    z-index: 1;
}

@media (max-width: 90em) {
    .heading-about::before{
        display: none;
    }
}

.sub-heading{
    margin: 0.5rem 0 1rem 0;
    font-weight: bold;
}

.education-box{
    line-height: 18px;
}

.skill-box{
    display: inline-block;
    width: 100px;
    font-size: 12px;
    margin-top: 1rem;
    text-align: center;
}

.skill-box i{
    font-size: 24px;
}

.skill-badge{
    padding: 5px 10px;
    display: inline-block;
    background: var(--bg-color);
    font-size: 10px;
    color: var(--text-color);
    border-radius: 5px;
    margin: 1rem 1rem 0 0;
    letter-spacing: 1px;
}

.btn-box.btns{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 4rem;
    margin: -1rem 0 -1rem 0;
}

.btn-box.btns a{
    font-size: small;
    border-radius: 5px;
}

section .popup-outer .profile-text{
    display: flex;
    align-items: center;
}

section .popup-box img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text .text{
    display: flex;
    flex-direction: column;
}

.ex{
    margin-top: 1rem;
}

@media (max-width: 991px){

    .btn-box.btns{
        margin-bottom: 3rem;
    }

    .about{
        min-height: 100%;
    }
}

@media (max-width: 360px){
    .btn-box.btns a{
        font-size: 1.5rem;
    }
}
 
