@import "style.css";

.projects{
    background:#e6e6e6;
}

.heading-project{
    font-size: 5rem;
    text-align: center;
    color: var(--main-color);
}

.heading-project::before{
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 90%;
    top: 6rem;
    background: var(--bg-color);
    margin-left: 120px;
    z-index: 1;
}

@media (max-width: 90em) {
    .heading-project::before{
        display: none;
    }
}

.projects-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.projects-card{
    position: relative;
    height: 25rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.projects-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.card-overlay:hover{
    background: rgba(0, 0, 0, 0);
    color: black;
    transition: 0.4s all linear;
}

.card-overlay .bx{
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 1.1rem;
    background: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-overlay .bx:hover{
    transform: scale(1.2);
    color: var(--main-color);
    background: black;
    box-shadow: 0 0 2rem var(--main-color) ;
}

.projects a .bubble{
    display: none;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #333;
    border-radius: 5px;
    font-size: 1rem;
}

.projects a:hover .bubble{
    display: block;
}
