@import "style.css";

.heading{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 3rem;
}

.heading h3{
    font-size: 5rem;
}

span{
    color: var(--main-color);
}

.skills-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.skills-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skills-card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
}

.skills-card .bx{
    font-size: 8rem;
    transition: 0.4s ease;
}

.skills-card .bx:hover{
    color: var(--main-color);
}

.skills-card h3{
    font-size: 2rem;
    font-weight: 200;
}
